<%= render 'layouts/header' %>
<%= button_to "Create A New Trip", new_trip_path, method: :get %>
<h1>All Trips</h1>
<h2><% @trips.each do |trip|%></h2>
    <p><%= link_to trip.title, trip_path(trip) %></p>
<% end  %> 
