<h1>All Trips</h1>
<h2><% @trips.each do |trip|%></h2>
    <p><%= link_to trip.user.title, user_trips_path(trip.user) %></p>
    <p><%= trip.location %></p>
<% end  %> 
<%= button_to "Create A New Trip", new_user_trip_path %>