<%= render 'layouts/header' %>
<h1>Weekender</h1>

<h2>Current User: <%= current_user.first_name %><h2>

<%= button_to "Create New Trip", new_user_trip_path(@user), method: :get %>

<p>Trips:</p>
<% @user.trips.each do |trip| %> 
    <div><%= button_to trip.title %></div>
<% end %> 